.wrapper {
  max-width: 1096px;
  margin: 0 auto;
  padding: 0 25px;
}

.btn,
.btn2,
.btn3,
.btn4,
.btn5 {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8125rem;
  padding: 10px 13px;
}

.btn {
  background-color: #ffffff;
  border: 1px solid #75aeca;
  color: #548eaa;
  transition: background-color 0.3s ease, color 0.3s ease 0.15s;
}
.btn:hover {
  background-color: #7aa1bd;
  color: #ffffff;
}

.btn2 {
  background-color: #ffffff;
  border: 1px solid #75aeca;
  color: #548eaa;
  transition: color 0.3s ease;
}
.btn2:hover {
  color: #487284;
}

.btn3 {
  background-color: #548eaa;
  border: 1px solid #75aeca;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.btn3:hover {
  background-color: #76a5bb;
}

.btn4 {
  border: 1px solid;
  background-color: #548eaa;
  border-color: #548eaa;
  color: #fff;
}
.btn4:disabled {
  background-color: initial;
  border-color: #d2d2d2;
  color: #737d81;
  cursor: not-allowed;
}

.btn5 {
  background-color: #ffffff;
  border: 1px solid #70b025;
  color: #579311;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.btn5.danger {
  border-color: red;
  color: red;
}
.btn5:hover {
  color: #ffffff;
  background-color: #579311;
}
.btn5.danger:hover {
  background-color: red;
  color: #ffffff;
}

.link {
  color: #548eaa;
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.link:hover {
  color: #487284;
}

.block {
  background-color: #ffffff;
  padding: 16px 20px;

  &.block-focus:focus {
    outline: 1px solid #75aeca;
  }
}

.main-section {
  padding: 12px 0;
}

.article-data {
  &__item {
    display: inline-block;
    margin-right: 40px;
  }
  &__item.button {
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  &__item.active &__number {
    color: #548eaa;
  }
  &__item.loading {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__number {
    font-size: 0.8125rem;
    color: #798e98;
  }
}
