.comment {
  &__info {
    margin-top: 12px;
  }

  &__edit-mode {
    background-color: #f7f7f7;
    padding: 16px;
  }

  &__close-btn {
    margin-bottom: 10px;
  }

  &__edit-btn {
    margin-top: 10px;
  }
}
