.comment-form {
  background-color: #f7f7f7;
  padding: 16px;
  border-top: 1px solid rgba(146, 156, 165, 0.4);
  position: relative;

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__blue {
    color: #4b8eab;
  }

  &__form {
    margin-bottom: 16px;
  }

  &__label {
    color: #333;
    display: block;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
    padding: 0;
  }
}
