.post {
  &__heading-link:hover &__heading {
    color: #4c8eab;
  }
  &__heading {
    display: inline-block;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color 0.5s ease;
  }

  // &__article-part,
  &__article-data {
    padding-top: 16px;
  }
  &__article-data.paddingless {
    padding-top: 0;
  }

  &__article-part {
    color: #111;
    font-size: 1rem;
    line-height: 1.56;
    overflow-wrap: break-word;

    p,
    h2,
    h3,
    ul,
    li,
    blockquote {
      margin: 20px 0;
    }
  }

  // &__read-more {
  //   margin-top: 18px;
  // }
}
