.post-editor {
  &__title {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__btn {
    margin-top: 10px;
  }
}
