.user-menu {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  flex-wrap: wrap;

  &__button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    height: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    a {
      margin-right: 10px;
      line-height: 0;

      img {
        width: 24px;
        height: 24px;
      }
    }

    button {
      img {
        border-radius: 3px;
        width: 32px;
        height: 32px;
      }
    }
  }

  &__menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #ffffff;
  }

  &__unauthorized-links {
    padding: 20px;
  }

  &__user-info {
    display: flex;
    padding: 20px;
  }
  &__user-info-text {
    margin-left: 8px;
  }
  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 3px;
  }

  &__login {
    margin-right: 12px;
  }

  &__links {
    border-top: 1px solid #eaeaea;
  }
  &__link {
    display: block;
    padding: 20px;
    color: #333333;
    background-color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  &__link:hover {
    color: #487284;
    background-color: #edf5f9;
  }
}
