[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
django-cleanup = "*"
gunicorn = "*"

[dev-packages]
coverage = "*"

[scripts]
coverage_test = "coverage run --source='.' manage.py test"
coverage_test_html = "coverage html"

[requires]
python_version = "3.11"
